.deleteBtn {
    height: 35px;
    width: 160px;
    background: #ff0033;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
    font-size: 15px;
    box-shadow: 0 3px 10px #111;
    border-radius: 5px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    
    }
    
.comment {
    height: 80%;
    width: 94%;
    border-radius: 5px;
    background: #f8f8f8;
    overflow-y: auto;
    text-align: center;
    padding: 30px;
    border-bottom: 2px solid lightgrey;
    box-shadow: 0 3px 10px #111;
      
    }
    
#inputComment {
    width: 30%;
    height: 40px;
    background: none;
    font-size: 15px;
    color: #fff;
    border-bottom: 1px solid #fff;
    }
    
#addBtnComment {
    border-radius: 3px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 160px;
    background: #20a505;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
    font-size: 15px;
    box-shadow: 0 3px 10px #111;
    }
    
body {
    text-align: center;
    background: rgb(82, 80, 80);
    }
    
.deleteBtn:hover {
    opacity: .8;
    }
    
#addBtnComment:hover {
    opacity: .8;
    }
    